<meta charset="UTF-8">
<meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- æ‰€æœ‰é¡µé¢éƒ½ä¼šç”¨åˆ°çš„-start-ðŸŒ» -->
<link rel="icon" href="/images/site_icon.png">
<%- css('css/mdui.css') %>
<%- css('css/style.css') %>
<%- css('css/header.css') %>
<%- css('css/footer.css') %>
<!-- æ‰€æœ‰é¡µé¢éƒ½ä¼šç”¨åˆ°çš„-start-ðŸŒ¸ -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<title><%= config.title %></title>
<!-- ç­‰å¾…spaæ’å…¥titleçš„åŽé¢é‚£ä¸€éƒ¨åˆ†ðŸ¥ -->
